<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Employee Management</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
    <h1>Employee Management</h1>
            <div th:switch="${employees}">
                <h2 th:case="null">No Employees yet!</h2>
                <div th:case="*">
                    <h4>Employees</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Designations</th>
                            <th>Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${employees}">
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.email}"></td>
                            <td th:each ="d: ${employee.designations}">
                                <span th:text="${d.title}"></span>
                            </td>
                            <td th:text="${employee.phone}}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
    <div>
    </div>
</div>
</body>
</html>